# The directory Mix writes compiled artifacts to
_build

# Coverage assets ("mix test --cover")
cover

# Dependencies
deps

# Generated docs output
doc

# Crashdump
erl_crash.dump

# Archive artifacts
*.ez

# Package tarball ("mix hex.build")
*.tar

# JetBrains
*.iml
.idea
